body {
  background-color: black;
}
#image {
  box-sizing: border-box;
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  left: 50px;
  top: 50px;
  background: url(Wayne.jpg.jpg);
  z-index: 3;
  border-color: maroon;
  border-style: dashed;
}
#Description {
  box-sizing: border-box;
  position: absolute;
  height: 350px;
  width: 975px;
  top: 300px;
  right: 50px;
  font-size: 150%;
  background-color: #555555;
  z-index: 2;
  border-color: maroon;
  border-style: dashed;
}
#Title {
  box-sizing: border-box;
  position: absolute;
  height: 350px;
  width: 975px;
  top: 50px;
  right: 50px;
  font-size: 210%;
  text-align: center;
  background-color: gray;
  z-index: 1;
  border-color: maroon;
  border-style: dashed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Wayne-otido {
  position: absolute;
  right: 95px;
  top: 60px;
  font-size: 225%;
}
#My-personal{
  position: absolute;
  right: 200px;
  top: 0px;
  font-size: 125%;
}
div.About {
  box-sizing: border-box;
  position: absolute;
  right: 50px;
  top: 0px;
  left: 350px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Education {
  box-sizing: border-box;
  position: absolute;
  width: 1248px;
  height: 125px;
  left: 50px;
  top: 700px;
  background-color: gray;
  font-size: 150%;
  border-style: dashed;
  border-color: maroon;
  border-bottom: none;
}
#School-list {
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  left: 475px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#listed {
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  top: 50px;
  left: 475px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contacts {
  box-sizing: border-box;
  position: absolute;
  top: 950px;
  left: 50px;
  width: 1248px;
  background-color: maroon;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}
#projects {
  box-sizing: border-box;
  position: absolute;
  width: 1248px;
  height: 125px;
  left: 50px;
  top: 825px;
  background-color: #555555;
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  border-style: dashed;
  border-color: maroon;
  border-bottom: none;
}